grant {
     	permission java.security.AllPermission;
     	permission java.net.SocketPermission "*:1098", "connect, resolve";
     	permission java.net.SocketPermission "*:1098", "listen, resolve";
};