grant {
     	permission java.security.AllPermission;
     	permission java.net.SocketPermission "*:1097", "connect, resolve";
     	permission java.net.SocketPermission "*:1097", "listen, resolve";
};